@model List<Event>

@{ Layout = "_LayoutAdmin"; }

<br />
<h3>Detail Data Event</h3>
<hr />
@foreach (var data in ViewBag.details)
{
    <p>Id Event       : @data.Id_event </p>
    <p>Id Angkatan    : @data.Id_angkatan </p>
    <p>Nama Event     : @data.Nama_event </p>
    <p>Tanggal        : @data.Tanggal </p>
    <p>Tempat         : @data.Tempat </p>
    <p>Waktu          : @data.Waktu </p>
    <p>Batas Daftar   : @data.Batas_daftar </p>
    <p>Keterangan     : @data.Keterangan </p>
    <p>Status         : @data.Status </p>
    <br />
    <br />
    <a class="btn btn-dark" style="color:white"asp-action="Update" asp-route-id="@data.Id_event">Edit</a>
}
<a class="btn btn-dark" style="color:white" asp-action="Index">Kembali</a>